html {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

body {
  margin:0 auto;
  width:960px;
  min-height:100%;
  height:auto !important;
  height:100%;
  position:relative;

  padding:0px 0px 50px 0px;
}

a {
  text-decoration:none;
}

.main {
  padding-bottom:70px;

  height: 100%;
}

.main p {
  font-size: 11pt;
  margin:0px 0px 0px 30px;
}
.main .inner li {
  font-size: 11pt;
  margin:0px 0px 0px 45px;
}
.main .inner ul {
  font-size: 11pt;
  margin:0px 0px 0px -35px;
}

.two-column {
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: inline-flex;
  position:relative;
  margin:0;
  padding:0;
}

.header {
  padding:0;
  background-color:#454545;
  margin-bottom:20px;
  margin-top:0px;
  text-align:center;

  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header ul {
  margin:0;
  padding:0;
}

.header ul li {
  display:inline-block;
  margin:10px 0px 10px 0px;
}

.header ul li a {
  color:#ffffff;
  background-color:#454545;
  padding:10px 25px 10px 25px;
}

.header ul li a:hover{
  color:#73c5fc;
  background-color:#18023e
}

.two-column .sideMenu {
  width:220px;
  display:box;
  margin-right: 30px;
  -moz-box-ordinal-group: 1;
  -webkit-box-ordinal-group: 1;
  -webkit-box-sizing: border-box;
}

.sideMenu {
  padding:0;
  margin:0;
}

.sideMenu h4 {
  margin:0;
  padding-left:20px;
  background-color: #000000;
  color: #ffffff;
}

.sideMenu ul {
  padding:0;
  margin-top: 1px;
  list-style: none;
}

.sideMenu ul li {
}

.sideMenu li a {
  display: block;
  min-height: 20px;
  height:auto;
  /*height:20px;*/
  margin-bottom: 1px;
  padding: 5px 0px 5px 10px;
  background-color: #eeeeee;
  color: #000000;
  border-left: solid 5px #000000;
}

.sideMenu li a:hover {
  background-color: #c6ebbe;
}

.topics {
  margin-top:0;
  margin-bottom:10px;
  height:30px;
  position:relative;
}

.topics h2 {
  margin:0;
  padding:0px 0px 0px 30px;
  background-image:url("../img/sincos.png");
  background-repeat:no-repeat;
  background-position:left center;
}

.headline h3 {
  margin-bottom: 20px;
  padding:0px 0px 0px 30px;
  background-image:url("../img/headline.jpg");
  background-repeat:no-repeat;
  background-position:left center;
}

.inner {
  margin-bottom: 15px;
}

.inner h4 {
  margin:0px 0px 10px 15px;
  padding:0px 0px 0px 20px;
  background-image:url("../img/inner.gif");
  background-repeat:no-repeat;
  background-position:left center;
}

.inner p {
  margin:0px 0px 0px 35px;
  padding:0;
  font-size:11pt;
  text-indent:1em;
}

.footer {
  margin-top:100px;
  text-align:right;
  color:#ffffff;
  background-color:#454545;

  position: fixed !important;
  position:absolute;
  bottom:0;
  left: 0;
  width: 100%;
}
